<style>
    .section-custom-trust-container {
        width: 100%;
        padding: {{ section.settings.padding_size }}px 0;
        border-top: 1px solid {{ section.settings.color }};
        border-bottom: 1px solid {{ section.settings.color }};
        overflow: hidden;
        position: relative;
    }

    .section-trust-display-outer {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .section-trust-display-inner {
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
    }

    .marquee-content {
        display: flex;
    }

    .icon-image-text {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 20px;
    }

    .icon-image-text img {
        max-width: 20px;
        width: 100%;
        margin-right: 10px;
    }

    .icon-image-text span {
        color: {{ section.settings.color_text_icon }};
        white-space: nowrap;
        line-height: 1;
        text-transform: unset;
    }

    .icon-image-text svg {
        min-width: 15px;
        margin-right: 10px;
    }

    .icon-image-text svg,
    .icon-image-text svg > * {
        color: {{ section.settings.color_text_icon }};
    }

    /* Desktop styles */
    .desktop-only {
        display: none;
    }

    @media screen and (min-width: 768px) {
        .mobile-only {
            display: none;
        }

        .desktop-only {
            display: flex;
            justify-content: center;
        }
    }

    /* Mobile Marquee */
    @media screen and (max-width: 767px) {
        .section-trust-display-inner {
            animation: scroll-left {{ section.settings.speed_rotate }}s linear infinite;
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>

<div class="section-custom-trust-container">
    <div class="section-trust-display-outer">

        <!-- Desktop Static View -->
        <div class="desktop-only">
            <div class="section-trust-display-inner">
                {% for block in section.blocks %}
                    <div class="icon-image-text">
                        {% if block.settings.image and block.settings.icon_type == "image" %}
                            <img src="{{ block.settings.image | img_url: '400x' }}" alt="">
                        {% else %}
                            {{ block.settings.svg_data }}
                        {% endif %}
                        <span style="text-transform: {{ block.settings.text_case }};">{{ block.settings.text_description }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Mobile Marquee -->
        <div class="mobile-only">
            <div class="section-trust-display-inner">
                <div class="marquee-content">
                    {% for block in section.blocks %}
                        <div class="icon-image-text">
                            {% if block.settings.image and block.settings.icon_type == "image" %}
                                <img src="{{ block.settings.image | img_url: '400x' }}" alt="">
                            {% else %}
                                {{ block.settings.svg_data }}
                            {% endif %}
                            <span style="text-transform: {{ block.settings.text_case }};">{{ block.settings.text_description }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="marquee-content">
                    {% for block in section.blocks %}
                        <div class="icon-image-text">
                            {% if block.settings.image and block.settings.icon_type == "image" %}
                                <img src="{{ block.settings.image | img_url: '400x' }}" alt="">
                            {% else %}
                                {{ block.settings.svg_data }}
                            {% endif %}
                            <span style="text-transform: {{ block.settings.text_case }};">{{ block.settings.text_description }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
  "name": "Custom Trust Icon",
  "class": "section-custom-trust-icon",
  "settings": [
    {
        "type": "color",
        "id": "color",
        "label": "Section border color",
        "default": "#121212"
    },
    {
        "type": "color",
        "id": "color_text_icon",
        "label": "Text and Icon color",
        "default": "#121212"
    },
    {
        "type": "range",
        "id": "padding_size",
        "min": 5,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Padding top and bottom",
        "default": 20
    },
    {
        "type": "range",
        "id": "speed_rotate",
        "label": "Rotation Speed",
        "min": 5,
        "max": 30,
        "step": 1,
        "default": 15,
        "info": "The higher the number is, the lower speed applies."
    }
  ],
  "blocks": [
    {
        "type": "Icon",
        "name": "Icon",
        "settings": [
            {
                "type": "select",
                "id": "icon_type",
                "label": "Icon type to use",
                "options": [
                    {
                        "value": "image",
                        "label": "Image"
                    },
                    {
                        "value": "svg",
                        "label": "SVG"
                    }
                ],
                "default": "image"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Icon"
            },
            {
                "type": "textarea",
                "id": "svg_data",
                "label": "Icon in SVG"
            },
            {
                "type": "text",
                "id": "text_description",
                "label": "Text"
            },
            {
                "type": "select",
                "id": "text_case",
                "label": "Text Case",
                "options": [
                    {
                    "value": "unset",
                    "label": "Default"
                    },
                    {
                    "value": "capitalize",
                    "label": "Capitalize"
                    },
                    {
                    "value": "uppercase",
                    "label": "Uppercase"
                    },
                    {
                    "value": "lowercase",
                    "label": "Lowercase"
                    }
                ],
                "default": "uppercase"
            },
        ]
    }
  ],
  "presets": [
    {
      "name": "Custom Trust Icon"
    }
  ]
}
{% endschema %}